// $font-stack: Helvetica, sans-serif;
// $primary-color: #f0eded;
// $secondary-color: #2b2828;
// $neutral-color: #d4d1d1;
// $accent-color: rgb(136, 24, 76);
// $accent-color-2: rgb(179, 121, 149);

// /* Composantes principales */
// * {
// 	box-sizing: border-box;
// }

// body {
// 	background-color: black;
// 	color: $secondary-color;
// 	line-height: 1.4;
//   font-family: $font-stack;
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }

// .container {
// 	max-width: 1200px;
// 	width: 90%;
// 	margin: 0 auto;
// }

// header{
// 	background-color: $neutral-color;
// }

// footer{
//   background-color: $accent-color;
//   margin-top: auto;
//   padding: 1em;
// }

// .header-content{
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: center;	
// }

// .footer-content{
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: center; 
// }

// .footer-content__message{
//   text-align: center;
//   color: $accent-color-2;
// }

// .logo{
// 	width: 70%;
// }

// .logo--small{
//   width: 50%;
// }

// .nav-list {
// 	list-style: none;
// }

// .nav-list--small{
//   font-size: 0.8em;
// }

// .nav-list__list-item{
// 	display: inline-block;
// 	margin-left: 0.8em;
// }

// .nav-list__link{
// 	display: inline-block;
//   text-transform: uppercase;
// 	padding: 0.5em 1em;
// 	text-decoration: none;
// 	border-radius: 0.4em;
// 	color: $accent-color-2;
// }

// .nav-list__link:hover{
// 	background-color: $primary-color;
// }

// .nav-list__link--actuel-header{

// 	border-bottom: 0.2em solid $accent-color;
// }

// .nav-list__link--actuel-footer{
// 	border-bottom: 0.2em solid $primary-color;
// }

// .section{
//   margin: 2em 0; 
//  }

// .section h2{
//   text-transform: uppercase;
// }

// .section p a{
//   color: $accent-color;
// }

// .section__btn{
//   background-color: $primary-color;
//   color: $accent-color-2;
//   text-decoration: none;
//   display: inline-block;
//   padding: 0.5em 1em;
//   border-radius: 0.4em;
//   border: solid 0.1em $accent-color-2;
// }

// .section__btn:hover{
//   background-color: $accent-color-2;
//   color: $primary-color;
// }

// .section__btn--accent{
//   background-color: $accent-color-2;
//   color: $primary-color;
// }

// .section__btn--accent:hover{
//   background-color: $primary-color;
//   color: $accent-color-2;
// }

@font-face {
  font-family: 'Arial Rounded MT Bold';
  src: url(../media/fonts/arialroundedmtbold.ttf);
}  

@font-face {
  font-family: 'Arial Unicode MS';
  src: url(../media/fonts/arialunicodems.otf);
}  
  


body {
  background-color: white;
}

.logo {
    width: 100px; 
    height: 100px; 

}

.font {
  font-family: 'Arial Rounded MT Bold';
}

.navbar {
  .navbar-nav {
    .nav-link { 
      font-family: Arial Rounded MT Bold;
      font-size: 25px;
      color: #ffc107;
  }
}
}
   

