@font-face {
    font-family: 'Arial Rounded MT Bold';
    src: url(../media/fonts/arialroundedmtbold.ttf);
  }  
  
  @font-face {
    font-family: 'Arial Unicode MS';
    src: url(../media/fonts/arialunicodems.otf);
  }  
  
  @font-face {
    font-family: 'Lato Bold';
    src: url(../media/fonts/Lato-Bold.ttf);
  }  
  
  @font-face {
    font-family: 'Lato Black';
    src: url(../media/fonts/Lato-Black.ttf);
  }  
  
  @font-face {
    font-family: 'Lato Regular';
    src: url(../media/fonts/Lato-Regular.ttf);
  } 