@use 'variables';

.navbar {
    padding-bottom: 0%;
    .navbar-nav {
      .nav-link { 
        // font-family: 'latoRegular';
        font-size: 18px;
        font-weight: bolder;
        color: $red;
        text-transform: uppercase;
        &:hover{
          color: $white; 
          .btn btn-danger:hover {
            color: $white;
          }
        }
      }
    }
}